In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("../data.xlsx")
df.head()

,Territorialidades,População de 1 a 3 anos de idade 2010,População de 4 anos de idade 2010,População de 5 anos de idade 2010,População de 6 anos de idade 2010,% de 0 a 5 anos de idade na escola 2010,Produto Interno Bruto per capita 2013,Produto Interno Bruto per capita 2014,Produto Interno Bruto per capita 2015,Produto Interno Bruto per capita 2016,...,Desagregação URBANO População total PNAD,Desagregação URBANO População total PNAD.1,Desagregação URBANO População total PNAD.2,Desagregação URBANO População total PNAD.3,Desagregação URBANO População total PNAD.4,Desagregação URBANO População total PNAD.5,Desagregação URBANO População total PNAD.6,Desagregação URBANO População total PNAD.7,Desagregação URBANO População total PNAD.8,Desagregação URBANO População total PNAD.9
0,Brasil,8196384,2864361.0,2925979.0,2888505.0,43.15,22.20,22.44,21.17,20.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Bahia,635800,218057.0,229685.0,230938.0,42.03,11.40,11.65,11.64,11.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ilhéus (BA),8247,2909.0,3064.0,2991.0,40.00,14.60,15.16,14.59,14.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Itabuna (BA),8179,2863.0,3144.0,3101.0,46.00,13.24,13.18,12.60,11.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
gini_df = pd.read_csv("../ginibr.csv", sep=";", encoding="latin1", header=2)

gini_df['Município'] = gini_df['Município'].str.split(" ", n=1, expand=True)[1]
gini_df.head()

gini_df[gini_df['Município'] == "Itabuna"]

     Município    1991    2000    2010
2002   Itabuna  0,6979  0,6311  0,5745

In [14]:
# Especificar os tipos de dados para as colunas com tipos mistos
dtype_spec = {
    'column_20': 'str',
    'column_21': 'str',
    'column_25': 'str',
    'column_27': 'str'
}

df_2015 = pd.read_csv("../data/2015.csv", encoding="latin1", sep=";")
df_2010 = pd.read_csv("../data/2010.csv", encoding="latin1", sep=";", low_memory=False)

columns_2015 = set(df_2015.columns)
columns_2010 = set(df_2010.columns)

columns = [col for col in columns_2010 if col in columns_2015]

df_2010 = df_2010[columns]

df_2010.head()

,IN_LIXO_DESTINO_FINAL_PUBLICO,IN_ESGOTO_FOSSA_COMUM,IN_TRATAMENTO_LIXO_REUTILIZA,QT_TUR_INF,QT_PROF_ADMINISTRATIVOS,IN_PATIO_DESCOBERTO,IN_ACESSIBILIDADE_RAMPAS,IN_MATERIAL_PED_ETNICO,IN_AGUA_POCO_ARTESIANO,IN_MATERIAL_PED_INFANTIL,...,IN_LIXO_RECICLA,IN_REFEITORIO,IN_SALA_DIRETORIA,IN_ENERGIA_RENOVAVEL,IN_ACESSIBILIDADE_SINAL_TATIL,IN_BANHEIRO_EI,IN_PROF_ADMINISTRATIVOS,IN_ENERGIA_INEXISTENTE,QT_PROF_ALIMENTACAO,IN_TRATAMENTO_LIXO_INEXISTENTE
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_2010['NO_MUNICIPIO']

0         Alta Floresta D'Oeste
1         Alta Floresta D'Oeste
2         Alta Floresta D'Oeste
3         Alta Floresta D'Oeste
4         Alta Floresta D'Oeste
                  ...
200871                 Brasília
200872                 Brasília
200873                 Brasília
200874                 Brasília
200875                 Brasília
Name: NO_MUNICIPIO, Length: 200876, dtype: object