In [1]:
import pandas as pd

In [2]:
gini_df = pd.read_csv("../data/ginibr.csv", sep=";", encoding="latin1", header=2)

gini_df['Município'] = gini_df['Município'].str.split(" ", n=1, expand=True)[1]
gini_df.rename(columns={"Município": "NO_MUNICIPIO"}, inplace=True)
gini_df = gini_df[gini_df['NO_MUNICIPIO'].isin(['Itabuna', 'Ilhéus'])]

gini_df = gini_df.melt(id_vars=["NO_MUNICIPIO"], var_name="ANO", value_name="GINI")
gini_df['ANO'] = gini_df['ANO'].astype(int)

gini_df.sort_values(by=["NO_MUNICIPIO", "ANO"], inplace=True)

with pd.ExcelWriter("../output/full_data.xlsx", mode='a') as writer:
    gini_df.to_excel(writer, sheet_name="Gini", index=False)

gini_df.head(6)

  NO_MUNICIPIO   ANO    GINI
0       Ilhéus  1991  0,6413
2       Ilhéus  2000  0,6435
4       Ilhéus  2010  0,5875
1      Itabuna  1991  0,6979
3      Itabuna  2000  0,6311
5      Itabuna  2010  0,5745