In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("../output/data.csv", low_memory=False)

df.head()

,NO_MUNICIPIO,ANO,TP_DEPENDENCIA,TP_CATEGORIA_ESCOLA_PRIVADA,TP_LOCALIZACAO,TP_LOCALIZACAO_DIFERENCIADA,TP_REGULAMENTACAO,TP_OCUPACAO_PREDIO_ESCOLAR,IN_PREDIO_COMPARTILHADO,IN_AGUA_FILTRADA,...,QT_MAT_INF_PRE_INT,QT_DOC_INF,QT_DOC_INF_CRE,QT_DOC_INF_PRE,QT_TUR_INF,QT_TUR_INF_CRE,QT_TUR_INF_PRE,IN_PROF_GESTAO,IN_PROF_COORDENADOR,QT_PROF_COORDENADOR
0,Almadina,2015,Municipal,Não aplicável para escolas públicas,Urbana,Escola não está em área de localização diferen...,Sim,Próprio,Não,Sim,...,0,0,0,0,0,0,0,Não aplicável,Não aplicável,Não aplicável
1,Almadina,2015,Municipal,Não aplicável para escolas públicas,Rural,Escola não está em área de localização diferen...,Não,Não aplicável para escolas que não ocupam préd...,Não,Não,...,0,0,0,0,0,0,0,Não aplicável,Não aplicável,Não aplicável
2,Almadina,2015,Municipal,Não aplicável para escolas públicas,Rural,Escola não está em área de localização diferen...,Não,Não aplicável para escolas que não ocupam préd...,Não,Não,...,0,0,0,0,0,0,0,Não aplicável,Não aplicável,Não aplicável
3,Almadina,2015,Municipal,Não aplicável para escolas públicas,Rural,Escola não está em área de localização diferen...,Não,Não aplicável para escolas que não ocupam préd...,Não,Não,...,0,0,0,0,0,0,0,Não aplicável,Não aplicável,Não aplicável
4,Almadina,2015,Municipal,Não aplicável para escolas públicas,Rural,Escola não está em área de localização diferen...,Sim,Cedido,Não,Sim,...,0,0,0,0,0,0,0,Não aplicável,Não aplicável,Não aplicável

In [27]:
columns = ['QT_MAT_BAS_0_3', 'QT_MAT_BAS_4_5', 'QT_MAT_INF', 'QT_MAT_INF_CRE', 'QT_MAT_INF_PRE', 'QT_DOC_INF',
           'QT_TUR_INF_CRE', 'QT_TUR_INF_PRE']
tmp = df[['NO_MUNICIPIO', 'ANO'] + columns].copy()

for column in columns:
    tmp[column] = tmp[column].apply(lambda x: 0 if x == 'Não aplicável' else int(x))
    tmp[column].astype(int)

tmp['QT_ESC'] = tmp['QT_MAT_INF'].apply(lambda x: 1 if x > 0 else 0)
tmp['MDA_ALU_CRE'] = tmp['QT_MAT_INF_CRE'] / tmp['QT_TUR_INF_CRE']
tmp['MDA_ALU_PRE'] = tmp['QT_MAT_INF_PRE'] / tmp['QT_TUR_INF_PRE']
tmp['MDA_ALU_CRE'] = tmp['MDA_ALU_CRE'].apply(lambda x: 0 if np.isnan(x) or np.isinf(x) else x)
tmp['MDA_ALU_PRE'] = tmp['MDA_ALU_PRE'].apply(lambda x: 0 if np.isnan(x) or np.isinf(x) else x)

tmp.groupby(by=["NO_MUNICIPIO", "ANO"], as_index=False).sum(numeric_only=True)

,NO_MUNICIPIO,ANO,QT_MAT_BAS_0_3,QT_MAT_BAS_4_5,QT_MAT_INF,QT_MAT_INF_CRE,QT_MAT_INF_PRE,QT_DOC_INF,QT_TUR_INF_CRE,QT_TUR_INF_PRE,QT_ESC,MDA_ALU_CRE,MDA_ALU_PRE
0,Almadina,2015,51,152,207,48,159,19,2,8,3,24.000000,56.000000
1,Almadina,2016,56,128,189,53,136,17,2,7,3,26.500000,50.250000
2,Almadina,2017,65,127,207,69,138,14,2,6,4,33.500000,44.250000
3,Almadina,2018,93,130,233,102,131,16,4,8,5,43.333333,45.750000
4,Almadina,2019,92,134,235,92,143,14,2,9,5,46.000000,47.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Una,2019,229,509,820,231,589,80,11,45,26,33.375000,247.566667
221,Una,2020,235,472,745,276,469,68,12,38,23,75.375000,228.333333
222,Una,2021,212,465,726,226,500,60,8,35,20,26.500000,227.000000
223,Una,2022,243,472,774,265,509,67,13,40,22,30.222222,213.083333
224,Una,2023,282,493,824,308,516,69,13,39,22,64.000000,203.750000

In [40]:
columns = ['QT_MAT_INF', 'QT_TUR_INF']
tmp2 = df[['NO_MUNICIPIO', 'ANO', 'TP_DEPENDENCIA'] + columns].copy()

for column in columns:
    tmp2[column] = tmp2[column].apply(lambda x: 0 if x == 'Não aplicável' else int(x))
    tmp2[column].astype(int)

tmp2 = tmp2.groupby(by=["NO_MUNICIPIO", "ANO", 'TP_DEPENDENCIA'], as_index=False).sum(numeric_only=True)
tp_dependencia = tmp2['TP_DEPENDENCIA'].unique()

tmp2['MDA_ALU_INF'] = tmp2['QT_MAT_INF'] / tmp2['QT_TUR_INF']
tmp2['MDA_ALU_INF'] = tmp2['MDA_ALU_INF'].apply(lambda x: 0 if np.isnan(x) or np.isinf(x) else x)

""" for tp in tp_dependencia:
    column_name = 'MDA_ALU_TP_DEPENDENCIA_' + tp
    tmp2[column_name] = tmp2[tmp2['TP_DEPENDENCIA'] == tp]['MDA_ALU_INF']
    tmp2[column_name] = tmp2[column_name].apply(lambda x: 0 if np.isnan(x) or np.isinf(x) else x)
tmp2.drop(columns=['TP_DEPENDENCIA', 'MDA_ALU_INF'], inplace=True) """
tmp2

    NO_MUNICIPIO   ANO TP_DEPENDENCIA  QT_MAT_INF  QT_TUR_INF  MDA_ALU_INF
0       Almadina  2015       Estadual           0           0     0.000000
1       Almadina  2015      Municipal         191           8    23.875000
2       Almadina  2015        Privada          16           2     8.000000
3       Almadina  2016       Estadual           0           0     0.000000
4       Almadina  2016      Municipal         177           8    22.125000
..           ...   ...            ...         ...         ...          ...
639          Una  2022      Municipal         746          44    16.954545
640          Una  2022        Privada          28           9     3.111111
641          Una  2023       Estadual           0           0     0.000000
642          Una  2023      Municipal         791          47    16.829787
643          Una  2023        Privada          33           5     6.600000

[644 rows x 6 columns]